astroid==1.6.5
atomicwrites==1.3.0
attrs==19.1.0
biopython==1.73
cycler==0.10.0
isort==4.3.16
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==7.0.0
numpy==1.16.2
pluggy==0.9.0
ProDy==1.10.8
py==1.8.0
pylint==1.9.4
pyparsing==2.3.1
pytest==4.4.0
python-dateutil==2.8.0
rope==0.14.0
scipy==1.2.1
six==1.12.0
wrapt==1.11.1
